@-webkit-keyframes fadeInOut{
	0%{
		opacity: 1;		
		transform: scale(1);
	}
	20%{
		opacity: 0;
		transform: scale(1.2);
	}
	100%{
		opacity: 0;
		transform: scale(1.2);
	}
}

@-webkit-keyframes fadeOutIn{
	0%{
		opacity: 0;
		transform: scale(0.8);
	}
	20%{
		opacity: 1;
		transform: scale(1);
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}

section ul li{
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-duration: 5s;
	-webkit-animation-direction: normal;
	-webkit-animation-fill-mode:forwards; 
}
section ul li:hover{
	-webkit-animation-play-state: paused;
}

@-webkit-keyframes scaleInOut{
	0%{
		transform: scale(0.7);
	}
	100%{
		transform: scale(1.0);
	}
}

.hoverButton{
	-webkit-animation-name: scaleInOut;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-duration: 200ms;
	-webkit-animation-direction: normal;
}