body {
  padding: 0px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0px;
}

h3,nav ul li,.nav_title_3 ul li,nav span,button{
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
}

.hoverButton{
	font-size: 14px;
	color: #FFF;
}

nav a {
    color: #FFF;
    text-decoration: none;
	display: block;
	width: 120px;
	height: 60px;
	margin-top: 0;
}
nav a:hover{
	color:#00B7FF;
	display: block;
	background: #222;
	width: 120px;
	height: 60px;
}
h1{

}
h2{

}
h3{
}
h4{

}
h5{

}

header{
	width:100%;
	height: 60px;
	background: #000;
	position: absolute;
	top:0;
	color:#FFF;
}
nav{

}
nav h3{
	width: 200px;
	margin-bottom: 20px;
}
nav p{
	margin:0;
	line-height: 24px;
	width:180px;
	font-size: 14px;
	color:#666;
}
nav h3:hover,nav p:hover,.nav_title_3 ul li:hover,.nav_title_4 ul li:hover{
	color:#00B7FF;
	cursor: pointer;
}
ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li{
	display: block;
	width: 120px;
	height: 60px;
	float: left;
	text-align: center;
	line-height: 60px;
}


.logo{
	width: 250px;
	height: 60px;
	background: url(/images/ai_logo.png) no-repeat;
	float: left;
	margin-left: 100px;
}
.nav_title_2,.nav_title_3{
	padding: 20px 0 0 50px;
	display: none;
}
.nav_title_2{
	width: 1200px;
	height: 500px;
	background: #000;
	opacity: 0.9;
	position: absolute;
	top: 60px;
	left: 60px;
	text-align: left;
	line-height: 34px;
	-webkit-column-count: 6;
	-moz-column-count: 6;
	column-count: 6;
}
.nav_title_3 ul li{
	font-weight: normal;
	text-align: left;
	width:200px;
	line-height: 30px;
}

.nav_title_3 ul li:hover{
	display: block;
	color:#00B7FF;
	width: 200px;
	height: 60px;

}
.nav_title_3{
	width:800px;
	height: 200px;
	background: #000;
	opacity: 0.9;
	position: absolute;
	top: 60px;
	left: 260px;
}
.nav_title_4{
	display: none;
}
.nav_title_4 ul li{
	width: 120px;
	background: #000;
	opacity: 0.9;
	font-weight: normal;
	float: none;
}
nav span{
	float: left;
	margin-left: 40px;
}
nav span a{
	display: block;
	height: 60px;
	width: 50px;
	line-height: 60px;
	text-align: center;
}
nav span a:hover{
	background: #222;
	display: block;
	width: 50px;
	height: 60px;
}

button{
	width: 80px;
	height: 35px;
	background: #00B7FF;
	cursor: pointer;
	margin: 15px 0 0 30px;
	border:none;
	color: #FFF;
}
section{
	width: 100%;
	height: 530px;
	overflow: hidden;
}

section ul{
	width: 100%;
	height: 530px;
	display: block;
	position: relative;
	z-index: -1;
}
section ul li{
	height: 530px;
	width: 100%;
	float: left;
	position: absolute;
	display: block;
}
.gallery_bg{
	height: 80px;
	width: 100%;
	background: url(/images/gallery_bg.png) repeat-x;
	position: absolute;
	top: 60px;
	z-index: 5	;
}

#galButton{
	width: 1000px;
	height: 25px;
	top:480px;
	left: 170px;
	margin: 0px auto;
	position: absolute;
	text-align: center;
}
.gal-btn-list{
	height: 25px;
	width: 180px;
	line-height: 30px;
	float: left;
	position: relative;
	cursor: pointer;
}

.lineButton{
	width: 80px;
	height: 4px;
	opacity: 0.3;
	background: #BABABA;
	top: 12px;
	left: 50px;
	position: absolute;
}
.hoverButton{
	display: none;
	width: 180px;
	height: 30px;
	background: -webkit-linear-gradient(left,#2290D9, #6A18B4); 
	background: -o-linear-gradient(left,#2290D9, #6A18B4); 
	background: -moz-linear-gradient(left,#2290D9, #6A18B4);
	background: linear-gradient(left,#2290D9, #6A18B4); 
	color: #FFF;
	float: left;
	z-index: 2;
	position: absolute;
}

